[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
scipy = "*"
seaborn = "*"
plotly-express = "*"
nbformat = "*"
plotly = "*"
scikit-learn = "*"
requests = "*"
lxml = "*"
html5lib = "*"
bs4 = "*"
pyautogui = "*"
pyqt5 = "*"
pytesseract = "*"
tesseract = "*"
tensorflow = "*"
jupyter-contrib-nbextensions = "*"
jupyter = "*"
nbconvert = "*"
nb-toc = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
